/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
}

h1,
h2 {
    text-align: center;
}

/*Barra de navegacion*/
.navbar-custom {
    background-color: #004aad;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #ffdd00;
}

.navbar a.active {
    color: yellow;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.container-fluid {
    gap: 10px;

}

.container-fluid h3 {
    color: white;
    font-weight: bold
}

.container-fluid img {
    height: 40px;
    width: auto;
    object-fit: contain;
}



/* Sección de inicio */
.contenedor-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Estilos del carrusel */
#carouselExampleIndicators {
    width: 100%;
    height: 100vh;
}

.carousel-inner,
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Información superpuesta */
.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente para mejor legibilidad */
}

/* Logo */
#logo img {
    width: 200px;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Información del inicio */
#info_inicio {
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info_inicio h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

#info_inicio p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Botón */
#info_inicio button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#btn_icono {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/*Anuncios*/
#Anuncios {
    background: #0125F0;
    text-align: center;
    padding: 40px 20px;
}

#Anuncios h1 {
    color: white;
    margin-bottom: 20px;
}

.Anuncios-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Anuncios-container img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

/*Horario*/
#horario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#Horario img {
    width: 50%;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border: 3px solid black;
}

table th,
table td {
    border: 3px solid black;
    padding: 12px;
    text-align: center;
}

td:first-child {
    font-weight: bold;
    text-align: left;
}

#table {
    display: flex;
    justify-content: center;
}

/*Servicios*/
#servicios {
    text-align: center;
    padding: 50px 20px;

}

.servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.servicio {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

.servicio img {
    width: 100%;
    border-radius: 10px;
}

.servicio-text {
    padding: 15px;
}

.servicio h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #004aad;
}

.servicio p {
    font-size: 16px;
    color: #555;
}

/* Footer */
footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 15px 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.contact-info span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.contact-info i {
    font-size: 16px;
}